<?xml version="1.0" encoding="ISO-8859-15"?>
<OX>
    <OXMENU id="NAVIGATION_ESHOPADMIN">
        <MAINMENU id="mxmanageprod">
            <SUBMENU id="z_mxremlist" cl="z_review" list="z_list_review">
                <TAB id="tbclarticle_review" cl="z_article_review_edit"/>
            </SUBMENU>
        </MAINMENU>
    </OXMENU>
</OX>
